.body{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.body::-webkit-scrollbar{
    display: none;
}

.content{
    margin-top: 70px;
}

.label{
    width: 100%;
    padding: 10px 0 0 20px;
    color: #96a2b4;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.form{
    width: 100%;
    height: max-content;
    padding: 50px;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section .input{
    width: 48%;
    height: 50px;
    outline: none;
    border: none;
    background: #1a202e;
    border-radius: 5px;
    border: 1px solid #96a2b4;
    caret-color: #96a2b4;
    padding-left: 10px;
    color: #96a2b4;
    transition: border 500ms;
}

.student_name{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background: #1a202e;
    border-radius: 5px;
    border: 1px solid #96a2b4;
    caret-color: #96a2b4;
    padding-left: 10px;
    color: #96a2b4;
    transition: border 500ms;
}


.student_name::placeholder{
    color: #96a2b4;
}

.section .input:hover , .lastSection .student_name:hover{
    border: 1px solid #dfecff;
}

.section .input::placeholder{
    color: #96a2b4;
}

.form .buttons{
    margin-top: 50px;
}

.form .buttons .button{
    margin-left: 10px;
}


.student_name.valid,
.roll_no.valid,
.dob.valid,
.address.valid,
.gender.valid,
.admission_date.valid,
.phone_number.valid,
.address.valid,
.email.valid,
.cid.valid,
.sid.valid,
.gender.valid{
    border: 1px solid #96a2b4;
}

.student_name.not_valid,
.roll_no.not_valid,
.dob.not_valid,
.address.not_valid,
.admission_date.not_valid,
.phone_number.not_valid,
.address.not_valid,
.email.not_valid,
.cid.not_valid,
.sid.not_valid,
.gender.not_valid{
    border: 1px solid #ff0000;
}